/* Level 1 header (#) */
h1 {
  color: purple;
  font-size: 2em;        /* Adjust size if needed */
}

/* Level 2 header (##) */
h2 {
  color: pink;
  font-size: 1.5em;      /* Slightly smaller than h1 */
}

# level 3 header
h3 {
  color:pink;
  font-size:1.0em;
}

/* Level 4 header (####) */ 
h4 {
  color: #FF0000;	/* red */
  font-size: 1.0em;
}

.quarto-callout-note {
	border: 10px solid purple; !important;
	background-color: red; !important;
	padding: 15px; !important;
	border-radius:8px; !important;
}
